<!-- views/partials/footer.ejs -->
<ul id="NavibereichImpressum">

    <li><a href="https://www.wwf.de/">Impressum</a></li>
    <li><a href="https://www.wwf.de/">Quellen</a></li>
    <li><a href="https://www.datenschutz.org/datenschutzerklaerung-muster.pdf">Datenschutz</a></li>
    <li><a href="./kontakt.html">Kontakt</a></li>
    <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/2ChocolateChipCookies.jpg/1200px-2ChocolateChipCookies.jpg">Cookies</a></li>
</ul>