<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Baerenwebseite</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">