
<link rel="stylesheet" href="/../baerenwebserver/public/css/stylesheet.css">
<div class="logo">
        <img src="images/baerenlogo.png" alt="logo">
</div>
<h1> Bärenwebseite</h1>
<h2>
    Internetseite des WWF zum Schutz der bedrohten Bärenarten</h2>
<ul id="menü">
    <li><a href="./">Index</a></li>
    <li style=background-color:#c3d9ff><a href="./startseite">Startseite</a></li>
    <li><a href="./baerenarten">Bärenarten</a></li>
    <li><a href="./spenden">Spenden</a></li>
    <li><a href="./kontakt">Kontakt</a></li>
</ul>