/* Stylesheet für die Übungswebseite "Bären" */
@import "compass/css3";
body {
  font-size: small;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: #a0ff50;
  margin: 0;
}
head
{
position: fixed;
}

.logo img {
  position:relative;
  height: 100px; 
  max-height: 30%;
  width: auto;
  float:left;
}
#menü li {
  display: inline;            /* Listenelemente nebeneinander */
  list-style-type: none;      /* Aufzählungszeichen entfernen */
}

#menü {
  position: fixed;
  top:0px ;
  background: #F7FFC3;        /* Hintergrundfarbe für die Navigation */
  padding:  4px;                   /* Innenabstand: oben/unten 4px, li/re 0 */
  border-color: #668BCC;      
  position: -webkit- sticky; 
  position: sticky;
  z-index: 100;
}

#menü a 
{
  color: black;                  /* Schriftfarbe schwarz */ 
  text-decoration: none;         /* Unterstreichung entfernen */ 
  padding: 4px 8px;              /* oben/unten 4px, re/li 8px */
}
 
#menü a:hover,        
#Index #navi01 a,       
#Startseite #navi02 a,
#Grundgerüst #navi03 a,
#Spenden #navi04 a,
#Kontakt #navi05 a 
 {    
  background-color: #c3d9ff; 
}
.central
{
  text-align: center;
}

.bild2 
{
  max-width: 20%;
  height: auto;
  margin-bottom: -8%;
}
.bild3
{
  max-width: 50%;
  height: auto;
  margin-bottom: 2%;
}
.Eingabefeld
{
  height: 5px ;
}
.t1
{
font-size: large;
}
/*
.txt_bild
{
  margin-bottom: 25%;
  
}
*/
  .txt_bild img{
  position:relative;
  width: 700px; 
  max-width: 50%;
  left: 3%;
  height: auto;
  float:left;
  margin-right:5%; 
  }

.bildbaerenart {
  width: 700px; 
  max-width: 100%;
  height: auto;
  
}
.Abstand{
  margin-left: 35%;
}



h1 {
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-size: x-large;
  
}

h3 
{
  text-align: center;
  font-size: xx-large;
  text-decoration: underline;
}

h4
{
  font-size: 800%;
  font-size: 5vw;
}
h5 {
	font-weight: 200;
	margin: 0.4em 0;
	color: rgb(241, 7, 7);
	font-size: 100%;
	font-size: 5vw;
	text-align: center;
	}
#NavibereichImpressum li
{
  display: inline;            /* Listenelemente nebeneinander */
  list-style-type: none;      /* Aufzählungszeichen entfernen */
  
}

#NavibereichImpressum {
  padding: 4px 0;                   /* Innenabstand: oben/unten 4px, li/re 0 */
  border-top: 3px solid black;    /* Rahmenlinie oben */
  border-bottom: 3px solid black; /* Rahmenlinie unten */
  margin: 0;                        /* Keinen Außenabstand */
}

#NavibereichImpressum a {
  color: black;                  /* Schriftfarbe schwarz */  
  padding: 4px 8px;              /* oben/unten 4px, re/li 8px */
}

footer {
	position: fixed;
	padding: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ccddee;
  border-color: black;
  z-index: 100;
}


.bild {
  flex:3;
  width: 800px;
  max-width: 100%;
   height: auto;
 
}




.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 200px;
  max-width: 450px;
}
 
.flex-outer > li > label + * {
  flex: 1 0 220px;
  max-width: 400px
}


div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 600px;
    padding-left: 0px
}



.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

 .flex-container > div {
  width: 1000px;
  max-width: 80%;
  margin: 10px;
  text-align: left;
  
}
/*
.column1
{
  flex: 25%;
  max-width:25%;
  
}*/

.column2 {
  
  max-width: 400%;
}

*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  flex-flow: row wrap;
}

