<!-- views/pages/startseite.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >

<header>
    <% include ../partials/header %>
</header>

<main>
        
<h1><br />Amerikanischer Schwarzbär<br /></h1>

<div class="txt_bild">
    <img src="images/amerikanischerschwarzbaer.png" class="bild" alt="Bild eines Bären">
    <p class="t1">
            <br />
            <br />
            <br />
        Name: Amerikanischer Schwarzbär<br />
        Schulterhöhe: bis zu 150 cm<br />
        Gewicht: bis zu 780 kg<br />
        Verbreitung: vorwiegend in Asien und Alaska<br />
        Gattung: Ursus<br />
        Gefährdungsstufe: 
        <br />
        Weiter Informationen zum Schwarzbär
        <br />
        Weiter Informationen zum Schwarzbär
        <br />
        Weiter Informationen zum Schwarzbär
        <br />
        Weiter Informationen zum Schwarzbär
        <br />
        Weiter Informationen zum Schwarzbär
        <br />
        Weiter Informationen zum Schwarzbär
        <br />
        <br />
        <br />
        <br />
        <a class="button" href="./baerenarten">zurück</a>
    </p>
</div>
    </main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
