<!-- views/pages/baerenarten.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<header>
    <% include ../partials/header %>
</header>

<body>
    <main>
        <div class="flex-container">

            <% for(var i=0; i < baereninfo.length ; i++){ %>

            <div class="column1">
                <img src=<%= "images/" + baereninfo[i].image %> class="bild" alt="Bild eines Bären">
            </div>
            <div class="column2">
                <h2><%= baereninfo[i].name %></h2>
                <p class="t1">
                    Name: <%= baereninfo[i].name %> <br />
                    Schulterhöhe: <%= baereninfo[i].schulterhoehe %> <br />
                    Gewicht: <%= baereninfo[i].gewicht %><br />
                    Verbreitung: <%= baereninfo[i].verbreitung %><br />
                    Gattung: <%= baereninfo[i].gattung %><br />
                    Gefaehrdungsstufe: <%= baereninfo[i].gefaehrdungsstufe %><br />
                </p>
                <a class="button" href=<%= "" + baereninfo[i].href %>>mehr Informationen</a>
</div>
                <% } %>
            
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>