<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >



<main>
        <h1> Bärenwebseite</h1>
    <h2>
        Internetseite des WWF zum Schutz der bedrohten Bärenarten</h2>
    <a href="./startseite">
        <div class='central'>
            <img src="images/baer.png" class="bild" alt="Bild eines Bären">
        </div>
    </a>
    <p class='central' id="Bildunterschrift">
        Hier klicken um auf eigentliche Internetseite zu kommen
    </p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
