<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
 <script>  
    var mysql = require('mysql');

var con = mysql.createConnection({
  host: "localhost:8080",
  user: "azubipc",
  password: "",
  database: "Baereninfo"
});

con.connect(function(err) {
  if (err) throw err;
  console.log("Connected!");
  var sql = "INSERT INTO customers (name, address) VALUES ('Company Inc', 'Highway 37')";
  con.query(sql, function (err, result) {
    if (err) throw err;
    console.log("1 record inserted");
  });
});
</script>
    <header>
        <% include ../partials/header %>
    </header>

    <main>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>