<!-- views/pages/spendeerfolgreich.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body  onload= "Weiterleitung()">

        <main>
    
            <div class='central'>
                <img src="images/herz.png" class="bild2" alt="Danke!">
                <h4>Danke!</h4>
                <img src="images/spendeerfolgreich.png" class="bild2" alt="Danke!">
            </div>
    
      
        <script>
    
            function Weiterleitung() {
                window.setTimeout('window.location = "./startseite"', 5000);
            }
    
        </script>  
        </main>
</body>
<footer>
        <% include ../partials/footer %>
    </footer>
    
</html>
