<!-- views/pages/startseite.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <div class="central">
        <img src="images/tstbaer.jpg" class="bild3" alt="Bild eines Bären">
    </div>
    <h5>
        <span class="txt-rotate" data-period="2000"
            data-rotate='[ "Viele Bärenarten sind bedroht!!!", "Spenden Sie jetzt!!!" ]'></span>
        <script src="javascripts/spenden.js">
        </script>
    </h5>
    <div class="form">
    <form name= "Formular" action="/spenden" method="POST">
        <ul style="padding-left: 0px" class="flex-outer">
            <li>
                <label for="Nachname">Nachname: </label>
                <input maxlength=25 name="Nachname" id="Nachname">
            </li>
            <li>
                    <label for="Vorname">Vorname: </label>
                    <input maxlength=25 name="Vorname" id="Vorname">
                </li>
            <li>
                <label for="betrag">Betrag in € eingeben </label>
                <input class="Eingabefeld" name="betrag" type="number" step="0.1" id="betrag">
            </li>
            <li>
                <label for="IBAN">IBAN eingeben</label>
                <input class="Eingabefeld" for="IBAN" name="IBAN" type="IBAN" id="IBAN">
            </li>

            <li>
                <label>Für welche Bärenart wollen sie spenden?:</label>
                <select name="baerenart" class="Eingabefeld">
                    <option></option>
                    <option>Amerikanischer Schwarzbär</option>
                    <option>Kragenbär</option>
                    <option>Braunbär</option>
                    <option>Eisbär</option>
                    <option>Lippenbär</option>
                    <option>Malaienbär</option>
                    <option>Brillenbär</option>
                    <option>Pandabär</option>
                </select>

            </li>
            <li>
                <button  type="submit" onclick="return überprüfung()" id="los">Spenden</button>
       
            </li>
            <input class="Eingabefeld" for="tst1" name="tst1" type="hidden" id="tst1">
        </ul>
    </form>
    </div>
    </main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>

</html>