<!-- views/pages/startseite.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >

<header>
    <% include ../partials/header %>
</header>

<main>
    
    <h3>
        Bär der Woche:</h3>
    <h1><%= text %></h1>
        <div class="central">
        <img src="images/baer-der-woche.png" class="bild" alt="Bild eines Bären">
        <h2>
            Eisbär
        </h2>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
