<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >

<header>
    <% include ../partials/header %>
</header>

<div>
    <% include .../services/baerenservice.js
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>